body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #d3c7d6;
}

h1 {
  text-align: center;
  font-size: 25px;
  text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
}

textarea {
  width: 70%;
  height: 150px;
  margin-bottom: 10px;
  display: flex;
  margin: 0 auto;
  display: block;
  resize: none;
}

button {
  margin: 0 auto;
  display: block;
  padding: 10px 20px;
  margin-top: 20px;
  border: none;
  font-size: 17px;
  color: #fff;
  border-radius: 7px;
  letter-spacing: 4px;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.5s;
  transition-property: box-shadow;
}

button {
  background: rgb(0, 140, 255);
  box-shadow: 0 0 25px rgb(0, 140, 255);
}
button:hover {
  box-shadow: 0 0 5px rgb(0, 140, 255), 0 0 25px rgb(0, 140, 255),
    0 0 50px rgb(0, 140, 255), 0 0 100px rgb(0, 140, 255);
}
